.backdrop.active {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(126, 126, 126, 0.692);
  opacity: 0.5;
  z-index: 5;
  overflow: hidden;
}

.slider {
  position: fixed;
  top: 0;
  right: -100%;
  overflow: hidden;
  font-size: 1rem;
  z-index: 5;
  background-color: white;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 150px;
  border-bottom-left-radius: 10px;
  margin-top: 57px;
}

.sidebar_btn {
  color: black;
  background-color: white;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.acc_sidebar {
  align-self: center;
}

.accMenuList {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.accMenuList > li {
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.listDivider {
  border: none;
  height: 1px;
  background-color: lightgray;
  width: 100%;
  margin: 0;
}

.userImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
