@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.mainNav {
  font-size: 1.3rem;
  background-color: #020202d7;
}

.signInBtn {
  color: black;
  background-color: white;
  font-size: 1.1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.spinner {
  color: black;
  background-color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.brandName {
  font-family: "Lobster", cursive;
  color: white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 0.1rem;
}

.brandName > h4 {
  margin-bottom: 0 !important;
  user-select: none;
}

.brandName:hover {
  cursor: default;
  color: white;
}

.sideMenuToggle {
  display: block;
  padding: 0.5rem 1rem;
  cursor: default;
}

@media screen and (max-width: 850px) {
  .brandName > h4 {
    font-size: 1.2rem;
  }
  .mainNav {
    position: sticky !important;
    z-index: 2;
    top: 0;
    padding: 0.5rem 0.3rem !important;
  }
}

@media screen and (min-width: 851px) {
  .sideMenuToggle {
    visibility: hidden;
    z-index: 0;
  }
}
