@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@700&display=swap");
.mainDiv {
  display: flex;
  height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.subHeader {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 712px) {
  .header {
    font-size: 30px;
  }

  .subHeader {
    font-size: 18px;
  }
}
