@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.modal-content {
  border: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Swal */

.swal2-container {
  width: 220px !important;
}

.swal2-popup {
  margin-top: 113px !important;
  align-items: center !important;
  justify-items: center !important;
}

.swal2-title {
  margin: 0.5rem 0 !important;
  font-family: "Roboto Condensed", sans-serif !important;
}

@media screen and (max-width: 576px) {
  .swal2-container {
    width: 180px !important;
  }

  .swal2-popup {
    margin-top: 50px !important;
    padding: 0.4rem !important;
  }
  .swal2-title {
    margin: 0.5rem 0 !important;
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 577px) and (max-width: 834px) {
  .swal2-container {
    width: 200px !important;
  }

  .swal2-popup {
    margin-top: 50px !important;
    padding: 0.4rem !important;
  }
  .swal2-title {
    margin: 0.5rem 0 !important;
    font-size: 1.1rem !important;
  }
}
