@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

.main {
  background-image: url("../assets/seller.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  width: 100vw;
  margin-top: 2.5vh;
}
