@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.customDropToggle {
  background-color: transparent !important;
  border: none !important;
  color: black !important;
  box-shadow: none !important;
}

.customDropToggle::after {
  display: none !important;
}

.navContainer {
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  width: 100%;
  height: auto;
  box-shadow: 0px 1px 5px white;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: white;
  box-shadow: 0px 1px 5px 1px lightgrey;
}

.custom_nav {
  display: flex;
  justify-content: center;
}

.categoryList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.categoryList > li {
  float: left;
  padding: 10px 0px 10px 0px;
}

.categoryList > li > div:nth-child(1) {
  padding: 3px 10px 3px 10px;
  display: flex;
  width: 100%;
  align-items: center;
}

.categoryList > li > div:nth-child(2) {
  position: absolute;
  overflow: hidden;
  width: 6%;
  margin-left: 10px;
  margin-top: 0.7rem;
  font-size: 1.2rem;
  z-index: 3;
  padding: 0px 16px 0px 16px;
  color: black;
  box-shadow: 1px 1px 5px 1px lightgray;
  border-top: 2px solid black;
  background-color: white;
}

.categoryList > li > div:nth-child(2) > ul > li {
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  font-size: 1rem;
}

.categoryList > li > div:nth-child(1):hover {
  cursor: pointer;
}

.categoryList > li > div:nth-child(1) > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
}

/* .custom_nav > ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
} */

.links {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 300ms;
}

.links:hover {
  scale: 1.1;
  transition: all 300ms;
}

.active {
  color: lightskyblue;
  transition: all 300ms;
}

.cartBtn {
  color: black;
  margin-left: 1rem;
  background-color: white;
  border-radius: 50%;
  font-size: 1.1rem;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  color: black;
  background-color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.signInBtn,
.cartBtn {
  color: black;
  background-color: white;
  font-size: 1.1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.brandName {
  font-family: "Lobster", cursive;
  color: white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 0.1rem;
}

.brandName > h4 {
  margin-bottom: 0 !important;
  user-select: none;
}

.brandName:hover {
  cursor: default;
  color: white;
}

@media screen and (max-width: 850px) {
  .navContainer {
    display: none !important;
  }
  .brandName > h4 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 851px) and (max-width: 1440px) {
  .navContainer {
    padding: 0;
  }
  .categoryList > li > div:nth-child(2) {
    width: 10%;
  }
}

@media screen and (min-width: 851px) {
  .sideMenuToggle {
    visibility: hidden;
  }
}
